In [1]:
from datetime import datetime

In [7]:
a=datetime.now()
print(a)
print(a.year)
print(a.month)
print(a.day)
print(a.hour)

2020-01-29 00:21:27.225816
2020
1
29
0

In [11]:
from datetime import *
now=datetime.now()
print(now)
print('Date now :{}-{}-{}'.format(now.day,now.month,now.year))
print('Time now :{}:{}:{}'.format(now.hour,now.minute,now.second))

2020-01-29 00:28:09.928392
Date now :29-1-2020
Time now :0:28:9

In [15]:
tdm=datetime.today()
print(tdm)
print('Today date and time:', tdm)
td=date.today()
print(td)

2020-01-29 00:31:23.509256
Today date and time: 2020-01-29 00:31:23.509256
2020-01-29

In [18]:
delta=datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)
print(delta.days)

926 days, 15:45:00
926

In [19]:
delta=datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [20]:
print(delta.total_seconds())

80063100.0

In [21]:
datetime(2011,12,26)+timedelta(206)

datetime.datetime(2012, 7, 19, 0, 0)

In [32]:
dates=[datetime(2011, 1, 2),datetime(2011, 1, 5),datetime(2011, 1, 7)]

In [33]:
import numpy as np
import pandas as pd
ts = pd.Series(np.random.randn(3),index=dates)
ts

2011-01-02   -1.576000
2011-01-05   -2.306555
2011-01-07   -0.386201
dtype: float64

In [34]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07'], dtype='datetime64[ns]', freq=None)

In [35]:
stamp=ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [36]:
ts[stamp]

-1.5759999742399409

In [38]:
stamp=ts.index[1]
stamp

Timestamp('2011-01-05 00:00:00')

In [39]:
ts[stamp]

-2.3065553349329764

In [43]:
now=datetime.now()
print(now)
timestamp=datetime.timestamp(now)
print(timestamp)

2020-01-29 00:58:44.392691
1580288324.392691

In [44]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))
print(longer_ts)

2000-01-01    0.345985
2000-01-02   -1.430659
2000-01-03    0.403630
2000-01-04   -1.343990
2000-01-05    1.131112
2000-01-06    1.012463
2000-01-07   -0.748920
2000-01-08    1.113516
2000-01-09    1.443373
2000-01-10    1.140037
2000-01-11   -0.471767
2000-01-12    1.618529
2000-01-13   -0.742574
2000-01-14    1.337592
2000-01-15   -2.064418
2000-01-16    0.411361
2000-01-17   -0.690096
2000-01-18   -0.921277
2000-01-19   -0.761328
2000-01-20    1.191567
2000-01-21   -1.212141
2000-01-22    0.706198
2000-01-23    0.358170
2000-01-24    1.365927
2000-01-25   -1.689773
2000-01-26    0.911167
2000-01-27   -0.090562
2000-01-28    0.657260
2000-01-29    0.164552
2000-01-30   -0.107520
                ...
2002-08-28   -0.673449
2002-08-29    0.269439
2002-08-30    0.083834
2002-08-31   -0.247919
2002-09-01   -0.611041
2002-09-02    1.887866
2002-09-03   -0.606699
2002-09-04    2.933830
2002-09-05   -0.474968
2002-09-06   -0.163222
2002-09-07    0.035421
2002-09-08   -0.873520
2002-09-09    0.186985
2002-09-10    0.163850
2002-09-11   -0.623009
2002-09-12   -0.145001
2002-09-13   -0.817180
2002-09-14    0.162024
2002-09-15    1.605243
2002-09-16   -0.757526
2002-09-17   -0.949208
2002-09-18    0.180440
2002-09-19   -0.525305
2002-09-20    2.726165
2002-09-21    1.294094
2002-09-22    0.785518
2002-09-23    1.167078
2002-09-24    0.067737
2002-09-25    0.579822
2002-09-26    0.491073
Freq: D, Length: 1000, dtype: float64

In [45]:
longer_ts['2001']

2001-01-01    0.095071
2001-01-02   -0.594671
2001-01-03    0.482205
2001-01-04   -0.300953
2001-01-05    0.233281
2001-01-06    0.422381
2001-01-07   -0.047930
2001-01-08    0.010261
2001-01-09   -1.061228
2001-01-10   -0.169627
2001-01-11    0.762901
2001-01-12    2.033357
2001-01-13    0.214529
2001-01-14    0.773855
2001-01-15    1.432617
2001-01-16   -0.981376
2001-01-17   -0.586811
2001-01-18    0.428224
2001-01-19   -0.775101
2001-01-20   -0.039192
2001-01-21    1.529703
2001-01-22   -1.747307
2001-01-23    1.162134
2001-01-24   -0.818815
2001-01-25    0.453079
2001-01-26    0.938222
2001-01-27    0.040503
2001-01-28   -1.465744
2001-01-29   -0.975006
2001-01-30   -0.110204
                ...
2001-12-02   -0.330042
2001-12-03    0.096936
2001-12-04   -0.559614
2001-12-05   -1.467432
2001-12-06   -0.488964
2001-12-07   -0.688822
2001-12-08   -0.186046
2001-12-09   -0.204040
2001-12-10   -1.119275
2001-12-11    1.255251
2001-12-12   -1.705886
2001-12-13   -0.301108
2001-12-14    0.067755
2001-12-15    1.120992
2001-12-16    0.102595
2001-12-17   -0.015367
2001-12-18   -1.646984
2001-12-19    0.053795
2001-12-20    0.660151
2001-12-21    0.728267
2001-12-22   -0.547958
2001-12-23   -1.484938
2001-12-24    1.750109
2001-12-25    0.906507
2001-12-26   -1.221519
2001-12-27   -1.558646
2001-12-28    1.487512
2001-12-29    1.355558
2001-12-30   -1.043617
2001-12-31    1.146927
Freq: D, Length: 365, dtype: float64

In [48]:
longer_ts['2001-05']

2001-05-01   -0.105939
2001-05-02   -1.399304
2001-05-03   -0.172743
2001-05-04   -0.245675
2001-05-05    0.429320
2001-05-06   -1.626310
2001-05-07    1.155562
2001-05-08    0.821547
2001-05-09   -1.742413
2001-05-10   -1.365400
2001-05-11   -0.694183
2001-05-12    0.398767
2001-05-13   -1.037797
2001-05-14    0.511973
2001-05-15   -2.818724
2001-05-16   -0.676476
2001-05-17    0.199890
2001-05-18    1.499469
2001-05-19   -0.285593
2001-05-20   -1.183623
2001-05-21   -0.225088
2001-05-22    0.377045
2001-05-23   -1.430048
2001-05-24   -2.126829
2001-05-25    0.916858
2001-05-26    0.719730
2001-05-27   -0.350430
2001-05-28   -1.205735
2001-05-29    0.106651
2001-05-30    1.370699
2001-05-31   -0.279851
Freq: D, dtype: float64

In [52]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.386201
dtype: float64

In [53]:
ts[datetime(2011, 1, 5):]

2011-01-05   -2.306555
2011-01-07   -0.386201
dtype: float64

In [55]:
ts['2011, 1, 5':'2011-01-12']

2011-01-05   -2.306555
2011-01-07   -0.386201
dtype: float64

In [57]:
pd.date_range('2000-01-01','2001-01-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [60]:
dates=pd.date_range('1/1/2019',periods=100, freq='W-WED')

In [61]:
longer_df=pd.DataFrame(np.random.randn(100, 4),index=dates, columns=['Colorado','Texas','New Yark','Ohio'])

In [64]:
longer_df

            Colorado     Texas  New Yark      Ohio
2019-01-02  2.362972 -0.744462 -0.569211 -0.470893
2019-01-09  0.290071 -0.150376  1.034972 -0.370185
2019-01-16  0.131131  0.745471  1.809097 -1.575304
2019-01-23  0.569213 -1.270247 -0.070074 -0.305018
2019-01-30 -1.318859 -0.045649  0.224173 -0.993963
2019-02-06 -0.675704 -0.109756 -1.579452 -0.381941
2019-02-13  1.893635  0.396470  0.886123 -0.425926
2019-02-20  1.525361  0.927442 -0.562725 -2.030377
2019-02-27 -1.629241 -0.563324  0.175460  0.244284
2019-03-06 -0.007126  0.743257  0.363060  0.109289
2019-03-13  0.258845  0.594423  0.597917 -0.501934
2019-03-20 -0.142310  0.083873  0.689694 -1.509624
2019-03-27  0.885855 -0.003019 -0.459843  0.171117
2019-04-03 -1.093691  0.432162 -0.379857 -0.356277
2019-04-10 -0.975488 -1.095432 -1.266220  0.835492
2019-04-17  0.130670  1.611299  1.953664  0.137462
2019-04-24  0.127315  1.507323  0.693585  2.608806
2019-05-01  0.799354  1.083908  1.062789  1.186968
2019-05-08  1.015319 -0.494867 -1.164129  0.090883
2019-05-15  0.305498  1.346467 -1.590819  1.003367
2019-05-22 -1.092885 -0.287256 -0.030056 -0.010248
2019-05-29 -1.188988 -1.622461 -1.231955 -1.209889
2019-06-05 -0.109568 -1.064711 -0.095804  0.386398
2019-06-12 -0.004227  0.712192  0.062993  0.223312
2019-06-19  1.564784  0.236928 -0.584753 -0.001216
2019-06-26 -0.932579 -1.412365  0.311563  0.214712
2019-07-03 -2.235484  0.079242  0.284806 -1.210030
2019-07-10  2.048662  1.280840  0.054622 -0.094005
2019-07-17 -1.862661 -0.736564 -0.472535  0.803324
2019-07-24 -2.201624 -1.095445 -0.844663 -1.009323
...              ...       ...       ...       ...
2020-05-06 -0.257930 -0.944409  1.045912  1.690958
2020-05-13 -2.145720 -0.149296 -1.306132 -0.362017
2020-05-20 -0.913999  0.789894 -0.385483 -0.709509
2020-05-27  0.590527  1.685405 -0.931186  0.259321
2020-06-03 -0.674386 -0.465834 -1.981504  0.670783
2020-06-10 -0.524208 -1.240338  0.948353  0.324698
2020-06-17  0.239201  0.396954  0.720323 -0.219879
2020-06-24  0.199567  0.829835 -0.241712  1.699175
2020-07-01  0.303490  0.718877  0.090890  1.830916
2020-07-08  2.434138  0.051716  0.456998  0.774422
2020-07-15  1.236721  0.647794  1.308006  1.618103
2020-07-22  0.276060  0.626216  0.184681 -1.014944
2020-07-29  0.356241  0.537538 -0.463896  2.369363
2020-08-05  0.215911  0.242493 -0.124403 -1.124131
2020-08-12 -0.858287  0.937309 -0.278473  1.712074
2020-08-19 -0.896303  1.324382 -0.980441 -0.413148
2020-08-26  0.474409 -0.118291 -1.561919 -1.090256
2020-09-02 -1.701319  0.818750 -0.502459  0.638478
2020-09-09  1.638562 -0.016281  0.369839 -0.153568
2020-09-16  0.968100 -1.204286 -0.262571  0.105921
2020-09-23  0.263262 -0.830313 -0.446480  0.680967
2020-09-30 -0.854180 -0.111639  0.142488  2.119053
2020-10-07  0.052730 -0.370091 -0.896351  0.020019
2020-10-14 -1.281720  0.735747  0.813391 -0.464150
2020-10-21 -0.217194  0.278522  1.031812  0.623148
2020-10-28  1.225197 -1.048464 -0.215145  1.120267
2020-11-04 -3.010668 -0.494257  0.076921  0.776049
2020-11-11  1.059717 -1.418749 -1.487678  0.545869
2020-11-18  0.087890 -0.587543  0.204279  0.944938
2020-11-25 -0.505018 -0.105755 -1.170965  0.191878

[100 rows x 4 columns]

In [65]:
longer_df.loc['5-2019']

            Colorado     Texas  New Yark      Ohio
2019-05-01  0.799354  1.083908  1.062789  1.186968
2019-05-08  1.015319 -0.494867 -1.164129  0.090883
2019-05-15  0.305498  1.346467 -1.590819  1.003367
2019-05-22 -1.092885 -0.287256 -0.030056 -0.010248
2019-05-29 -1.188988 -1.622461 -1.231955 -1.209889

In [71]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/5/2000'])
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-05'],
              dtype='datetime64[ns]', freq=None)

In [72]:
dup_ts=pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-05    4
dtype: int32

In [73]:
dup_ts.index.is_unique

False

In [74]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [75]:
grouped=dup_ts.groupby(level=0)

In [76]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-05    4
dtype: int32

In [77]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-05    1
dtype: int64

In [78]:
ts

2011-01-02   -1.576000
2011-01-05   -2.306555
2011-01-07   -0.386201
dtype: float64

In [83]:
index=pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range(start='2012-04-01',end='2012-06-01')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range(start='1/1/2019',periods=5, freq=pd.offsets.MonthEnd(3))

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [85]:
pd.date_range(start='1/1/2019',periods=5, freq='M')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31'],
              dtype='datetime64[ns]', freq='M')

In [86]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [87]:
_4hours=Hour(4)
_4hours

In [88]:
pd.date_range('2000-01-01','2000-01-03 23:59', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [89]:
pd.date_range('2000-01-01',periods=10, freq='1H30MIN')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [92]:
s=pd.date_range('2019-12-11',periods=10)
s

DatetimeIndex(['2019-12-11', '2019-12-12', '2019-12-13', '2019-12-14',
               '2019-12-15', '2019-12-16', '2019-12-17', '2019-12-18',
               '2019-12-19', '2019-12-20'],
              dtype='datetime64[ns]', freq='D')

In [94]:
for day in s:
    print(day.dayofweek,day.weekday_name)

2 Wednesday
3 Thursday
4 Friday
5 Saturday
6 Sunday
0 Monday
1 Tuesday
2 Wednesday
3 Thursday
4 Friday

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead